{% load static %}
{% load static i18n %}
<!DOCTYPE html>
<html class="html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="assets/imgs/favicon.png" />

    <title>
        {% block title %}

        {% endblock %}
    </title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo:100%7COpen+Sans:300,400,400i,600,700,800">
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static '/assets/vendor/bootsnav/css/bootsnav.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/alien-icon/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/owl.carousel2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/switchery/switchery.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/animate.css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/swiper/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/alien.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/font.css' %}">
    <!-- endinject -->
    {% block css %}

    {% endblock %}
</head>
<body>

    <!--header start-->
    <header>
        <!-- Start Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-fixed white bootsnav">

            <!-- Start Top Search -->
            <div class="top-search">
                <div class="container">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->

            <div class="container">
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                                <i class="fa fa-shopping-cart"></i>
                                <span class="badge">3</span>
                            </a>
                            <ul class="dropdown-menu cart-list">
                                <li>
                                    <a href="#" class="photo"><img src="assets/imgs/cart-1.jpg" class="cart-thumb" alt="" /></a>
                                    <h6><a href="#">Branded Frog</a></h6>
                                    <p>2x - <span class="price">$99.99</span></p>
                                </li>
                                <li>
                                    <a href="#" class="photo"><img src="assets/imgs/cart-2.jpg" class="cart-thumb" alt="" /></a>
                                    <h6><a href="#">Omnes Jeans</a></h6>
                                    <p>1x - <span class="price">$33.33</span></p>
                                </li>
                                <li>
                                    <a href="#" class="photo"><img src="assets/imgs/cart-3.jpg" class="cart-thumb" alt="" /></a>
                                    <h6><a href="#">Man's T-shirt</a></h6>
                                    <p>2x - <span class="price">$109.99</span></p>
                                </li>
                                <li class="total">
                                    <span class="pull-right"><strong>Total</strong>: $242.00</span>
                                    <a href="#" class="btn btn-default btn-cart">Cart</a>
                                </li>
                            </ul>
                        </li>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="./index.html">
                        <img src="assets/imgs/logo-light.png" class="logo logo-display" alt="">
                        <img src="{% static 'assets/imgs/logo.jpeg' %}" class="logo logo-scrolled" style="width:60px" alt="">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="" data-out="">


                        <li class="dropdown">
                            <a href="users_registration">{% trans "Register" %}</a>

                        </li>
















                        <li class="dropdown" style="display:none">
                            <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" >Home</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Agency</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="mp-agency1.html">Agency 1</a></li>
                                        <li><a href="mp-agency2.html">Agency 2</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Specialized</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="mp-fashion.html">Fashion</a></li>
                                        <li><a href="mp-education.html">Education</a></li>
                                        <li><a href="mp-interior.html">Interior</a></li>
                                        <li><a href="mp-car.html">Car Dealer</a></li>
                                        <li><a href="mp-resume.html">Resume/CV</a></li>
                                        <li><a href="mp-restaurant.html">Restaurant</a></li>
                                        <li><a href="mp-startup2.html">Startup</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Business</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="mp-business1.html">Business 1</a></li>
                                        <li><a href="mp-business2.html">Business 2</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >General</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="mp-general.html">General 1</a></li>
                                        <li><a href="mp-general2.html">General 2</a></li>
                                    </ul>
                                </li>
                                <li><a href="mp-corporate1.html">Corporate</a></li>
                                <li><a href="mp-creative2.html">Creative</a></li>
                                <li><a href="shop-3.html">E-Commerce</a></li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Portfolio</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="mp-portfolio1.html">Portfolio 1</a></li>
                                        <li><a href="mp-portfolio2.html">Portfolio 2</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Photography</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="mp-photography1.html">Photography 1</a></li>
                                        <li><a href="mp-photography2.html">Photography 2</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Blog</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="blog-classic.html">Blog Classic</a></li>
                                        <li><a href="blog-classic-2.html">Blog Classic 2</a></li>
                                        <li><a href="blog-single.html">Blog Standard</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="mp-parallax.html">Parallax</a></li>
                                <li><a href="mp-app-landing.html">App Landing</a></li>
                                <li><a href="index.html#onepage">One Pages Demo</a></li>
                            </ul>
                        </li>
                        <li class="dropdown megamenu-fw" style="display:none">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Title Menu One</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="about-me.html">About Me</a></li>
                                                    <li><a href="about-us-1.html">About Us 1</a></li>
                                                    <li><a href="about-us-2.html">About Us 2</a></li>
                                                    <li><a href="service-1.html">Services 1</a></li>
                                                    <li><a href="service-2.html">Services 2</a></li>
                                                    <li><a href="career.html">Career</a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Title Menu Two</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="team-1.html">Our Team 1</a></li>
                                                    <li><a href="team-2.html">Our Team 2</a></li>
                                                    <li><a href="faq-1.html">FAQ 1</a></li>
                                                    <li><a href="faq-2.html">FAQ 2</a></li>
                                                    <li><a href="404.html">404 Error</a></li>
                                                    <li><a href="rs-demo-404-ErrorPage.html">404 Error Alt</a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Title Menu Three</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="pricing-table-1.html">Pricing Table 1</a></li>
                                                    <li><a href="pricing-table-2.html">Pricing Table 2</a></li>
                                                    <li><a href="contact-us-1.html">Contact Us 1</a></li>
                                                    <li><a href="contact-us-2.html">Contact Us 2</a></li>
                                                    <li><a href="contact-us-3.html">Contact Us 3</a></li>
                                                    <li><a href="rs-demo-coming-soon.html">Coming Soon</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-menu col-md-3">
                                            <h6 class="title">Title Menu Four</h6>
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="rs-demo-ComingSoon2.html">Coming Soon Alt</a></li>
                                                    <li><a href="maintenance.html">Maintenance</a></li>
                                                    <li><a href="login-1.html">Login 1</a></li>
                                                    <li><a href="login-2.html">Login/Registration 2</a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                    </div><!-- end row -->
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" style="display:none">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Features</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Navbar</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="nav-default.html">Nav Befault</a></li>
                                        <li><a href="nav-brand-center.html">Nav Brand Center</a></li>
                                        <li><a href="nav-brand-center-alt.html">Nav Brand Center alt</a></li>
                                        <li><a href="nav-brand-top.html">Nav Brand Top</a></li>
                                        <li><a href="nav-menu-left.html">Nav Left Align</a></li>
                                        <li><a href="nav-menu-attr.html">Nav Attr</a></li>
                                        <li><a href="nav-full.html">Nav Fullscreen </a></li>
                                        <li><a href="nav-sidebar.html">Nav Sidebar </a></li>
                                        <li><a href="nav-bottom.html">Nav Bottom</a></li>
                                        <li><a href="nav-scrollspy.html">Nav Scrollspy</a></li>
                                        <li><a href="nav-scrollspy-sidebar.html">Nav Scrollspy Sidebar</a></li>
                                        <li><a href="nav-transparent-with-white-border.html">Nav Trans..Border</a></li>
                                        <li><a href="nav-transparent-dark-link.html">Nav Trans.. Dark Link</a></li>
                                        <li><a href="nav-semi-transparent-light.html">Nav Semi Trans.. Light</a></li>
                                        <li><a href="nav-semi-transparent-dark.html">Nav Semi Trans.. Dark</a></li>
                                        <li><a href="nav-black.html">Navbar Black</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Sliders Banner</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="sc-slider_full_screen.html">Slider Full Screen</a></li>
                                        <li><a href="sc-slider_full_width.html">Slider Full Width</a></li>
                                    </ul>
                                </li>
                                <li><a href="rs-demo-home.html">Slider Revolution</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Parallax Banner</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="sc-banner_1.html">Banner 1</a></li>
                                        <li><a href="sc-banner_2.html">Banner 2</a></li>
                                        <li><a href="sc-banner_3.html">Banner 3</a></li>
                                        <li><a href="sc-banner_4.html">Banner 4</a></li>
                                        <li><a href="sc-banner_5.html">Banner 5</a></li>
                                        <li><a href="sc-banner_6.html">Banner 6</a></li>
                                        <li><a href="sc-banner_7.html">Banner 7</a></li>
                                        <li><a href="sc-banner_8.html">Banner 8</a></li>
                                        <li><a href="sc-banner_9.html">Banner 9</a></li>
                                        <li><a href="sc-banner_10.html">Banner 10</a></li>
                                        <li><a href="sc-banner_11.html">Banner 11</a></li>
                                        <li><a href="sc-banner_12.html">Banner 12</a></li>
                                    </ul>
                                </li>

                                <li><a href="sc-page_title.html">Page Title Variations</a></li>
                                <li><a href="sc-footers.html">Footer Variations</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" style="display:none">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Portfolio</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Grid Portfolio</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="portfolio-grid-2.html">Grid 2</a></li>
                                        <li><a href="portfolio-grid-3.html">Grid 3</a></li>
                                        <li><a href="portfolio-grid-4.html">Grid 4</a></li>
                                        <li><a href="portfolio-grid-5.html">Grid 5</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Grid with Title</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="portfolio-grid-title-1.html">Grid 1</a></li>
                                        <li><a href="portfolio-grid-title-2.html">Grid 2</a></li>
                                        <li><a href="portfolio-grid-title-3.html">Grid 3</a></li>
                                        <li><a href="portfolio-grid-title-4.html">Grid 4</a></li>
                                        <li><a href="portfolio-grid-title-5.html">Grid 5</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Masonry Portfolio</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="portfolio-masonry-2.html">Masonry 2</a></li>
                                        <li><a href="portfolio-masonry-3.html">Masonry 3</a></li>
                                        <li><a href="portfolio-masonry-4.html">Masonry 4</a></li>
                                        <li><a href="portfolio-masonry-5.html">Masonry 5</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Masonry with Title</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="portfolio-masonry-title-2.html">Masonry 2</a></li>
                                        <li><a href="portfolio-masonry-title-3.html">Masonry 3</a></li>
                                        <li><a href="portfolio-masonry-title-4.html">Masonry 4</a></li>
                                        <li><a href="portfolio-masonry-title-5.html">Masonry 5</a></li>
                                    </ul>
                                </li>
                                <li><a href="portfolio-masonry-special.html">Masonry Special</a></li>
                                <li><a href="portfolio-masonry-special-alt.html">Masonry Special Alt</a></li>
                                <li><a href="portfolio-details-1.html">Portfolio Details 1</a></li>
                                <li><a href="portfolio-details-2.html">Portfolio Details 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown megamenu-fw" style="display:none">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shortcodes</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">
                                        <div class="col-menu col-md-3">
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="sc-accordion.html">Accordion/Toggle</a></li>
                                                    <li><a href="sc-alerts.html">Alerts</a></li>
                                                    <li><a href="sc-blurb.html">Blurb</a></li>
                                                    <li><a href="sc-buttons.html">Buttons</a></li>
                                                    <li><a href="sc-bullets.html">Bullets</a></li>
                                                    <li><a href="sc-blogs.html">Blog Post</a></li>
                                                    <li><a href="sc-carousel.html">Carousel</a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="sc-clients.html">Clients</a></li>
                                                    <li><a href="sc-custom_line_icons.html">Custom Line Icons</a></li>
                                                    <li><a href="sc-form.html">Forms</a></li>
                                                    <li><a href="sc-fun_factors.html">Fun Factors</a></li>
                                                    <li><a href="sc-heading.html">Heading</a></li>
                                                    <li><a href="sc-image_post.html">Image Post</a></li>
                                                    <li><a href="sc-parallax.html">Parallax</a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                        <div class="col-menu col-md-3">
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="sc-price_tables.html">Price Tables</a></li>
                                                    <li><a href="sc-progress_bar.html">Progress Bar</a></li>
                                                    <li><a href="sc-promo.html">Promotional</a></li>
                                                    <li><a href="sc-social-links.html">Social Links</a></li>
                                                    <li><a href="sc-steps.html">Steps</a></li>
                                                    <li><a href="sc-subscribe.html">Subscriptions</a></li>
                                                    <li><a href="sc-tabs.html">Tabs</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-menu col-md-3">
                                            <div class="content">
                                                <ul class="menu-col">
                                                    <li><a href="sc-team.html">Team Members</a></li>
                                                    <li><a href="sc-testimonials.html">Testimonials</a></li>
                                                    <li><a href="sc-timeline.html">Timeline</a></li>
                                                     <li><a href="http://bicon.lab.themebucket.net/" target=“_blank”>Line Icon Pack <small class="label label-primary"> Free</small> </a></li>
                                                </ul>
                                            </div>
                                        </div><!-- end col-3 -->
                                    </div><!-- end row -->
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" style="display:none">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Shop</a>
                            <ul class="dropdown-menu">
                                <li><a href="shop-2.html">Shop Grid 2</a></li>
                                <li><a href="shop-3.html">Shop Grid 3</a></li>
                                <li><a href="shop-4.html">Shop Grid 4</a></li>
                                <li><a href="shop-single.html">Product Details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-left" style="display:none">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-classic.html">Blog Classic 1</a></li>
                                <li><a href="blog-classic-2.html">Blog Classic 2</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Blog Standard</a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                        <li><a href="blog-single.html">Blog Centered</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Blog Details </a>
                                    <ul class="dropdown-menu right">
                                        <li><a href="blog-details-left-sidebar.html">Details Left Sidebar</a></li>
                                        <li><a href="blog-details-right-sidebar.html">Details Right Sidebar</a></li>
                                        <li><a href="blog-details-centered.html">Details Centered</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>

            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <div class="widget">
                    <h5 class="title">Custom Pages</h5>
                    <ul class="link">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h5 class="title">About Us</h5>
                    <p class="light-txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae dicta nulla odit, pariatur
                        quas saepe similique. Accusantium, ad consectetur eius ex facere neque nobis numquam, placeat
                        quibusdam repellendus tempora?</p>
                </div>
                <div class="widget">
                    <h5 class="title">Social Links</h5>
                    <div class="social-links sl-default border-link round-link colored-link">
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="g-plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" class="youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <a href="#" class="dribbble">
                            <i class="fa fa-dribbble"></i>
                        </a>
                        <a href="#" class="behance">
                            <i class="fa fa-behance"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
        <div class="clearfix"></div>
    </header>
    <!--header end-->
    {% block content %}

    {% endblock %}



    <footer class="bg-darker u-PaddingTop100 u-xs-PaddingTop70">
        <div class="container text-sm" style="display:none">
            <div class="row">
                <div class="col-md-3 u-xs-MarginBottom30">
                    <div class="logo u-MarginBottom25">
                        <img src="assets/imgs/logo-light.png" alt="">
                    </div>
                    <p>Alien is  fully responsible, performance oriented and SEO optimized, retina ready HTML template.</p>
                    <h5 class="u-Weight700">Alien LLC</h5>
                    <p>Street nr 100, 4536534, Chicago, US</p>

                    <p>T (212) 555 55 00 <br>
                        Email: mail@example.com
                    </p>
                </div>
                <div class="col-md-3 u-xs-MarginBottom30">
                    <h5 class="text-uppercase u-Weight800 u-LetterSpacing2 u-MarginTop0">Follow Us</h5>
                    <ul class="light-gray-link border-bottom-link list-unstyled u-LineHeight2 u-PaddingRight40 u-xs-PaddingRight0">
                        <li> <a href="#"><i class="fa fa-angle-right u-MarginRight10" aria-hidden="true"></i>About Us</a></li>
                        <li> <a href="#"><i class="fa fa-angle-right u-MarginRight10" aria-hidden="true"></i>Career</a></li>
                        <li> <a href="#"><i class="fa fa-angle-right u-MarginRight10" aria-hidden="true"></i>Terms &amp; Condition</a></li>
                        <li> <a href="#"><i class="fa fa-angle-right u-MarginRight10" aria-hidden="true"></i>Privacy Policy</a></li>
                        <li> <a href="#"><i class="fa fa-angle-right u-MarginRight10" aria-hidden="true"></i>Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 u-xs-MarginBottom30">
                    <h5 class="text-uppercase u-Weight800 u-LetterSpacing2 u-MarginTop0">Recent Post</h5>
                    <ul class="light-gray-link list-unstyled u-MarginBottom0">
                        <li class="u-MarginBottom15">
                            <a class="" href="#">
                                The ultimate guide to freelancing as a creative...
                            </a>
                            <p class="">24 February 2017</p>
                        </li>
                        <li class="u-MarginBottom15">
                            <a class="" href="#">
                                Searching for the best UX: search forms and boxes in web design
                            </a>
                            <p>19 January 2017</p>
                        </li>
                        <li class="u-MarginBottom15">
                            <a class="" href="#">
                                Top 10 free tools for frontend web development
                            </a>
                            <p>2 January 2017</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="text-uppercase u-Weight800 u-LetterSpacing2 u-MarginTop0">Subscribe</h5>

                    <form action="">
                        <input type="email" class="form-control" placeholder="Enter Email">
                    </form>

                    <h5 class="text-uppercase u-Weight800 u-LetterSpacing2 u-MarginTop50">We are Social</h5>
                    <div class="social-links sl-default gray-border-links border-link circle-link colored-hover">
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="g-plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" class="youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                        <a href="#" class="dribbble">
                            <i class="fa fa-dribbble"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="text-center u-MarginTop30">
            <div class="footer-separator"></div>
            <p class="u-MarginBottom0 u-PaddingTop30 u-PaddingBottom30">Copyright 2017 @ CVMO Template.</p>
        </div>
    </footer>
    <!--footer end-->

    <!-- inject:js -->
    <script src="{% static '/assets/vendor/jquery/jquery-1.12.0.min.js' %}"></script>
    <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/vendor/bootsnav/js/bootsnav.js' %}"></script>
    <script src="{% static '/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static '/assets/vendor/jquery.countTo/jquery.countTo.min.js' %}"></script>
    <script src="{% static '/assets/vendor/owl.carousel2/owl.carousel.min.js' %}"></script>
    <script src="{% static '/assets/vendor/jquery.appear/jquery.appear.js' %}"></script>
    <script src="{% static '/assets/vendor/parallax.js/parallax.min.js' %}"></script>
    <script src="{% static '/assets/vendor/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static '/assets/vendor/imagesloaded/imagesloaded.js' %}"></script>
    <script src="{% static '/assets/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static '/assets/vendor/switchery/switchery.min.js' %}"></script>
    <script src="{% static '/assets/vendor/swiper/js/swiper.min.js' %}"></script>
    <script src="{% static '/assets/js/alien.js' %}"></script>
    {% block js %}

    {% endblock %}
    <!-- endinject -->
</body>
</html>
